.bio {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;

  &__container {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  &__image {
    max-width: 2500px;
    border-radius: 100%;
    justify-content: center;
  }
  

  &__content {
    max-width: 1600px;
    justify-content: center;
  }

  &__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
  }

  &__text {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    justify-content: center;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}

.latest-projects {
  padding: 2rem;

  &__title {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  &__cards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.project-card {
  flex: 1 1 280px; // Grow, shrink, and min-width of 280px
  max-width: 300px;
  background-color: var(--color-footer);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  color: var(--color-text-project-card);

  &__img {
    width: 100%;
    border-radius: 6px;
  }

  &__title {
    font-size: 1.25rem;
    margin-top: 1rem;
    text-align: center;
  }

  &__desc {
    font-size: 0.9rem;
  }
}