html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  justify-content: center;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.projects-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem; 
}

p {
  justify-content: center;
}

#main {
  flex: 1;
}